-- settings 테이블에 appointment_time_interval 컬럼 추가
-- 이 스크립트는 Supabase SQL Editor에서 실행하세요

-- 1. appointment_time_interval 컬럼 추가 (기본값 30분)
ALTER TABLE settings 
ADD COLUMN IF NOT EXISTS appointment_time_interval INTEGER DEFAULT 30;

-- 2. 기존 레코드에 기본값 설정 (NULL인 경우)
UPDATE settings 
SET appointment_time_interval = 30 
WHERE appointment_time_interval IS NULL;

-- 3. 컬럼에 NOT NULL 제약 조건 추가 (선택사항)
-- ALTER TABLE settings 
-- ALTER COLUMN appointment_time_interval SET NOT NULL;

-- 4. 컬럼이 제대로 추가되었는지 확인
SELECT 
    column_name, 
    data_type, 
    is_nullable, 
    column_default
FROM information_schema.columns 
WHERE table_name = 'settings' 
AND column_name = 'appointment_time_interval';

-- 5. 테이블 구조 확인
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'settings' 
ORDER BY ordinal_position;
